.main {
  height: calc(100vh - 3rem);
  background-color: #333;
}

.about_me {
  background-color: #333;
  padding-top: 4rem;
  margin: 0;
  text-align: center;
  height: 100%;
}

.div_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ig_gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
}

.bio {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 80%;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  overflow: scroll;
  margin: 1rem auto;
  padding-bottom: 2rem;
}

.bio > h2 {
  font-weight: 200;
}

.bio > span {
  display: block;
  text-align: right;
}

.bio > span a:hover {
  text-decoration: underline;
}
/* Media Queries============================= */

@media (max-width: 420px) {
  .main {
    overflow: hidden;
  }

  .about_me {
    padding-top: 3rem;
    height: 90%;
  }

  .ig_gallery {
    justify-content: space-evenly;
    height: 90%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .bio {
    height: 70%;
    padding: 0.5rem 1rem;
    margin: 0;
  }
}

@media (min-width: 420px) {
  .about_me {
    padding-top: 7rem;
  }

  .ig_gallery {
    height: calc((140px * 4) + (0.5rem * 4));
  }

  .bio {
    margin-top: 0;
    overflow: auto;
    padding: 0.5rem 3rem;
  }
}

@media (min-width: 62em) {
  .about_me {
    padding-top: 4rem;
  }

  .ig_gallery {
    height: calc((140px * 4) + (0.5rem * 3));
    width: 80%;
    margin: 2rem auto;
  }

  .bio {
    margin: 3rem auto;
    width: 45%;
    padding: 0 3rem 2rem;
  }
}
