.owl_item {
  position: relative;
  display: inline-flex;
  width: 16rem;
  height: calc(100vh / 3);
  margin: 0;
  padding: 0;
}

.item_title {
  margin: 4rem 0.5rem 0;
  font-size: medium;
  font-weight: 200;
  padding: 0 2rem;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  color: white;
}

/* .carousel_image {
  position: relative;
  overflow: hidden;
  width: 16rem;
  height: calc(100vh / 3);
} */

.carousel {
  position: relative;
  width: 160rem;
  height: calc(100vh / 3);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.carousel div span {
  display: none;
}

/* media============================== */

@media (min-width: 43rem) {
  .carousel {
    width: 200rem;
    height: calc(100vh / 3);
  }

  .owl_item {
    width: 20rem;
    height: calc(100vh / 3);
  }

  .carousel_image {
    width: 20rem;
  }

  .item_title {
    margin-top: 7rem;
  }
}
