.owl_item {
  position: relative;
  display: inline-flex;
  min-width: calc(16rem * 1);
  width: 16rem;
  /* width: 100vw; */
  min-height: calc(100vh / 3);
  margin: 0;
  padding: 0;
  float: none;
}

.owl_item > a {
  width: 16rem;
}

.item_title {
  margin: 4rem 0.5rem 0;
  font-size: medium;
  font-weight: 200;
  padding: 0 2rem;
  position: absolute;
  background-color: black;
  opacity: 0.8;
  color: white;
}

.carousel_image {
  position: relative;
  overflow: hidden;
  width: 16rem;
  height: calc(100vh / 3);
}

.carousel {
  /* margin-left: -50vw; */
  position: relative;
  width: calc(100vw * 10);
  /* width: 100vw; */
  height: calc(100vh / 3);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.carousel div span {
  display: none;
}

/* media============================== */

@media (min-width: 43rem) {
  .carousel {
    width: calc(100vw / 5 * 10);
    height: calc(100vh / 3);
  }

  .owl_item {
    min-width: calc(100vw / 5);
    width: calc(100vw / 5);
    height: calc(100vh / 3);
  }

  /* .owl_item > a {
    min-width: 20rem;
    width: 20rem;
  } */

  .carousel_image {
    min-width: calc(100vw / 5);
    width: calc(100vw / 5);
  }

  .item_title {
    margin-top: 7rem;
  }
}
