.footer {
  position: relative;
  display: flex;
  flex: 1;
  /* padding: 2rem 0; */
  justify-content: center;
  align-items: center;
  background-color: #555;
  height: 3rem;
}

.footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: antiquewhite;
  font-weight: 200;
}
