.container {
  padding: 0;
  margin: 0;
  background-color: darkcyan;
}

.main {
  height: calc(100vh - 3rem);
  flex-direction: row;
  width: 100%;
}

.main > article {
  text-align: center;
}

.home_photo {
  position: absolute;
  right: 2rem;
  top: 4rem;
}

/* title=============================================== */

.title {
  position: absolute;
  display: block;
  right: 0;
  background-image: linear-gradient(to top, darkcyan, rgba(255, 255, 255, 0));
  top: calc(100vh - 18rem);
  padding: 4rem 2rem 0;
  line-height: 1.15;
  font-size: 1.55rem;
  font-weight: 300;
  color: antiquewhite;
  width: 100%;
  height: 7rem;
  text-align: right;
}

/* Carousel Section =======================================*/

.section_carousel {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: calc(100vh - 4rem);
  /* border-top-right-radius: 90%; */
  background-color: white;
}

.section_carousel > div:nth-child(2) {
  transform: scaleX(-1);
}

.section_carousel > div:nth-child(2) h2 {
  transform: scaleX(-1);
}

/* Media Queries======================================= */

@media (min-width: 43rem) {
  .main article {
    text-align: center;
  }

  .title {
    width: 65%;
    height: 10rem;
    padding-top: 7rem;
    top: calc(100vh - 20rem);
    background-image: linear-gradient(to top, darkcyan, rgba(255, 255, 255, 0));
    text-align: center;
    vertical-align: bottom;
    border-radius: 10px;
    right: 50%;
    transform: translate(50%);
  }
}

@media (min-width: 62rem) {
  .title {
    width: 70%;
  }
}
