.container {
  padding: 0;
  margin: 0;
}

.main_article {
  height: calc(100vh);
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  background-color: #008b8b;
}

.home_photo {
  position: absolute;
  right: 2rem;
  top: 4rem;
}

/* title=============================================== */

.title {
  position: absolute;
  display: block;
  background-image: linear-gradient(to top, darkcyan, rgba(255, 255, 255, 0));
  bottom: 15rem;
  padding: 4rem 1.5rem 0;
  line-height: 1.15;
  font-size: x-large;
  font-weight: 300;
  color: antiquewhite;
  width: 100%;
  height: 7rem;
  text-align: center;
  z-index: 100;
}

/* Carousel Section =======================================*/

.section_carousel {
  overflow: hidden;
  position: relative;
  display: block;
  width: 95%;
  height: calc(100vh);
  border-top-right-radius: 50rem;
  background-color: #bdf9f9;
  /* background-image: url("/public/bubbles.png"); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* animation-name: example;
  animation-duration: 2.5s;
  animation-iteration-count: infinite; */
}

.background_image1 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/budget_img.png");
  background-position: right;
  background-size: contain;
  border-top-right-radius: 50rem;
}

.background_image2 {
  display: block;
  width: 85%;
  height: 100%;
  background-image: url("/planet_img.png");
  background-position: right;
  background-size: contain;
  border-top-right-radius: 50rem;
}

.background_image3 {
  width: 70%;
  height: 100%;
  border-top-right-radius: 50rem;
  background-color: #d99216;
  /* padding: 4rem; */
}

/* .code_image {
  position: absolute;
  left: 0;
  background-color: antiquewhite;
} */

@keyframes example {
  0% {
    background-color: #d99216;
  }
  50% {
    background-color: darkcyan;
  }
  100% {
    background-color: #d99216;
  }
}

.code_image_container {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 5rem;
  top: 8rem;
}

/* .section_carousel > div:nth-child(2) {
  transform: scaleX(-1);
} */

/* .section_carousel > div:nth-child(odd) {
  padding-left: -160rem;
} */

/* .section_carousel > div:nth-child(2) h2 {
  transform: scaleX(-1);
} */

/* Media Queries======================================= */

@media (min-width: 43rem) {
  .main article {
    text-align: center;
  }

  .title {
    width: 65%;
    height: 10rem;
    bottom: 15rem;
    padding-top: 7rem;
    background-image: linear-gradient(to top, darkcyan, rgba(255, 255, 255, 0));
    text-align: center;
    vertical-align: bottom;
    right: 50%;
    transform: translate(50%);
    font-size: xx-large;
  }

  /* .section_carousel > div:nth-child(odd) {
    padding-left: -200rem;
  } */
}

@media (min-width: 62rem) {
  .title {
    width: 70%;
    bottom: 5rem;
  }
}
