.portfolio {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  text-align: center;
  padding-top: 4rem;
  margin: 0;
}

.card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 0.5rem;
}

.title {
  color: darkcyan;
  font-weight: 300;
  font-size: xx-large;
}

.vid {
  position: relative;
  margin: 0.5rem;
  width: 80%;
  height: 60%;
}

.vid_card {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.vid_card p {
  width: 65%;
  margin: 1rem auto;
}

.image_container {
  position: relative;
  width: 80%;
  margin: 0.5rem auto;
}

.btn_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.btn {
  display: block;
  margin: 0 1rem;
  padding: 1rem 0;
  background-color: darkcyan;
  width: 35%;
  color: antiquewhite;
}

.btn1 {
  text-align: center;
  width: 65%;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: darkcyan;
  color: antiquewhite;
}

.caption {
}

/* Media Queries================================== */

@media (min-width: 43rem) {
  .vid_card {
    padding-bottom: 1.5rem;
    margin: 0;
    width: 45%;
  }
  .btn {
    width: 45%;
    margin: 0;
  }

  .btn_container {
    padding: 0;
  }
}

@media (min-width: 62rem) {
  .card_container {
    padding: 0;
    margin: 0;
  }
  /* .vid_card:nth-of-type(2) {
    margin-top: -1rem;
  } */

  .image_container {
    margin: 0.5rem auto;
  }
}
